/.idea/
.idea/vcs.xml
.idea/compiler.xml
.idea/encodings.xml


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.class
target/*
/moon-dependencies/.flattened-pom.xml

**/target/

*.log
*.log.*
*.out
*.out.*
*.rej
*.swp
*.swo
*.swx
*.tmp
*.tmp.*
*.un~
*.un~.*
*.userprefs
*.userprefs.*
*.userreg
*.userreg.*
*.userreg_old
*.userreg_old.*
*.userstate
*.userstate.*
*.userstate_old
*.userstate_old.*
*.vsps
*.vsss
*.vssscc
*.vssver.scc
*.vssver.scc.*
*.vssver.tmp
*.vssver.tmp.*
*.vssxc
*.vssxc.*
*.vuserprefs
*.vuserprefs.*
*.vuserprefs.tmp
*.vuserprefs.tmp.*
.metals/metals.lock.db
.metals/metals.mv.db
.vscode/settings.json
