/.idea/
.idea/vcs.xml
.idea/compiler.xml
.idea/encodings.xml

**/.env*


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.class
target/*
/moon-dependencies/.flattened-pom.xml

**/target/

*.log
*.log.*
*.out
*.out.*
*.rej
*.swp
*.swo
*.swx
*.tmp
*.tmp.*
*.un~
*.un~.*
*.userprefs
*.userprefs.*
*.userreg
*.userreg.*
*.userreg_old
*.userreg_old.*
*.userstate
*.userstate.*
*.userstate_old
*.userstate_old.*
*.vsps
*.vsss
*.vssscc
*.vssver.scc
*.vssver.scc.*
*.vssver.tmp
*.vssver.tmp.*
*.vssxc
*.vssxc.*
*.vuserprefs
*.vuserprefs.*
*.vuserprefs.tmp
*.vuserprefs.tmp.*
.metals/metals.lock.db
.metals/metals.mv.db
.vscode/settings.json
.idea/compiler.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
**/.flattened-pom.xml
/.flattened-pom.xml
.bloop/bloop.settings.json
.bloop/moon-ai-test.json
.bloop/moon-ai.json
.bloop/moon-business-eureka-client-test.json
.bloop/moon-business-eureka-client.json
.bloop/moon-business-eureka-test.json
.bloop/moon-business-eureka.json
.bloop/moon-business-gateway-test.json
.bloop/moon-business-gateway.json
.bloop/moon-business-gps-test.json
.bloop/moon-business-gps.json
.bloop/moon-business-leetcode-test.json
.bloop/moon-business-leetcode.json
.bloop/moon-business-shorturl-test.json
.bloop/moon-business-shorturl.json
.bloop/moon-business-test.json
.bloop/moon-business-user-test.json
.bloop/moon-business-user.json
.bloop/moon-business-web-drift-bottle-test.json
.bloop/moon-business-web-drift-bottle.json
.bloop/moon-business.json
.bloop/moon-cloud-test.json
.bloop/moon-cloud.json
.bloop/moon-concurrent-test.json
.bloop/moon-concurrent.json
.bloop/moon-dependencies-test.json
.bloop/moon-dependencies.json
.bloop/moon-framework-test.json
.bloop/moon-framework.json
.bloop/moon-java-test.json
.bloop/moon-java.json
.bloop/moon-spring-boot-starter-response-test.json
.bloop/moon-spring-boot-starter-response.json
.bloop/moon-spring-boot-starter-threadpool-test.json
.bloop/moon-spring-boot-starter-threadpool.json
.bloop/moon-spring-boot-starter-validator-test.json
.bloop/moon-spring-boot-starter-validator.json
.metals/.reports/metals-full/2025-09-15/r_failed-idex-java_11-05-48-496.md
.metals/.reports/metals-full/2025-09-15/r_failed-idex-java_11-05-49-307.md
